<div class="main-section">
        <div class="inner-section">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="header">
                  <h4>View Cluster</h4>
                </div>
              </div>
              <div class="col-12">
                <div class="basic-info">
                  <div class="form-group">
                    <label for="name">Name :</label>
                    <input type="text" readonly class="form-control" name="name" id="name" placeholder="Cluster Name">
                  </div>
                </div>
                <div class="master-node">
                  <div class="master-node-header">
                    <h4>Master Node</h4>
                  </div>
                  <table class="table master-table-list-header">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                  </table>
                  <table class="table master-table-list-body">
                    <tr>
                      <td>
                        <input readonly type="text" class="form-control" name="master-name" id="master-name"
                          placeholder="Enter master name" value="Cluster One">
                      </td>
                      <td>
                        <input readonly type="text" class="form-control" name="master-ip" id="master-ip" value="111.222.333.65"
                          placeholder="Enter ip address">
                      </td>
                      <td>
                        <input readonly type="password" class="form-control" name="master-password" id="master-password"
                          placeholder="Enter password" value="rdtfghj678">
                          <i class="far fa-eye"></i>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="worker-nodes">
                  <div class="worker-node-header">
                    <h4>Worker Nodes</h4>
                  </div>
                  <table class="table table-list-header">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                  </table>
                  <table class="table table-list-body">
                    <tr>
                      <td>
                        <input readonly type="text" class="form-control" name="worker-name" id="worker-name"
                          placeholder="Enter worker name" value="Cluster One">
                      </td>
                      <td>
                        <input readonly type="text" class="form-control" name="worker-ip" id="worker-ip" value="111.222.333.65"
                          placeholder="Enter ip address">
                      </td>
                      <td>
                        <input readonly type="password" class="form-control" name="worker-password" id="worker-password"
                          placeholder="Enter password" value="rdtfghj678">
                          <i class="far fa-eye"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input readonly type="text" class="form-control" name="worker-name-2" id="worker-name-2"
                          placeholder="Enter worker name" value="Piyush Garg">
                      </td>
                      <td>
                        <input readonly type="text" class="form-control" name="worker-ip-2" id="worker-ip-2" value="168.192.65.87"
                          placeholder="Enter ip address">
                      </td>
                      <td>
                        <input readonly type="password" class="form-control" name="worker-password-2" id="worker-password-2"
                          placeholder="Enter password" value="s5erdtfg67">
                          <i class="far fa-eye"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input readonly type="text" class="form-control" name="worker-name-3" id="worker-name-3"
                          placeholder="Enter worker name" value="New Cluster">
                      </td>
                      <td>
                        <input readonly type="text" class="form-control" name="worker-ip-3" id="worker-ip-3" value="155.165.76.88"
                          placeholder="Enter ip address">
                      </td>
                      <td>
                        <input readonly type="password" class="form-control" name="worker-password-3" id="worker-password-3"
                          placeholder="Enter password" value="4e5r6t78hu">
                          <i class="far fa-eye"></i>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      