<div class="main-section">
  <div class="inner-section">
    <div class="container-fluid">
      <div class="row">

        <div class="col-12">
          <div class="header">
            <h4>Edit Cluster</h4>
            <div class="buttons">
              <button class="btn" (click)="updateClusterFun()">Update</button>
              <!-- <button class="btn">Cancel</button>-->
            </div>
          </div>
        </div>

        <div class="col-12">
          <form [formGroup]="clusterForms">
            <div class="basic-info">
              <!-- <ul>
                <li *ngFor="let error of errormsg">
                  <p>{{error.name}}: {{error.msg}}</p>
                </li>
              </ul> -->
              <div class="form-group">
                <label for="name">Name :</label>
                <div>
                  <input #clusterName type="text" (focusin)="focusIn(clusterName)" (keyup)="trimClusterName($event)"
                    (keypress)="omit_special_char($event)" (focusout)="onBlur(0,clusterName)" class="form-control"
                    formControlName="cName" id="Cname" placeholder="Cluster Name">
                  <span class="error"
                    *ngIf="((clusterForms.controls['cName'].touched) && (clusterForms.controls['cName'].errors?.required))">Please
                    enter cluster name</span>
                </div>
              </div>
            </div>

            <div class="master-node">
              <div class="master-node-header">
                <h4>Master Node</h4>
              </div>
              <table class="table master-table-list-header">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Connection</th>
                  </tr>
                </thead>
              </table>

              <table class="table master-table-list-body">
                <tr [ngClass]="isDisable">
                  <td>
                    <input #masterName (focusin)="focusInMaster(masterName)" (keyup)="trimFeild('mName',$event)"
                      (keypress)="omit_special_char($event)" (focusout)="onBlur(0,masterName)" type="text"
                      class="form-control" formControlName="mName" id="master-name" placeholder="Enter master name">
                    <span class="error"
                      *ngIf="((clusterForms.controls['mName'].touched) && (clusterForms.controls['mName'].errors?.required))">Please
                      enter master name</span>
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="mIp" id="master-ip"
                      placeholder="Enter ip address">
                    <span class="error"
                      *ngIf="((clusterForms.controls['mIp'].touched) && (clusterForms.controls['mIp'].errors?.required))">Please
                      enter IP</span>
                    <span class="error"
                      *ngIf="((clusterForms.controls['mIp'].touched) && (clusterForms.controls['mIp'].errors?.pattern))">Please
                      enter a valid IP</span>
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="mUsername" id="master-usename"
                      placeholder="Enter username">
                    <span class="error"
                      *ngIf="((clusterForms.controls['mUsername'].touched) && (clusterForms.controls['mUsername'].errors?.required))">Please
                      enter master name</span>
                  </td>
                  <td>
                    <input [type]="showPwd" class="form-control" formControlName="mPassword" id="master-password"
                      placeholder="Enter password">
                    <span class="error"
                      *ngIf="((clusterForms.controls['mPassword'].touched) && (clusterForms.controls['mPassword'].errors?.required))">Please
                      enter Password</span>
                    <i class="far fa-eye" (click)="togglepwd(1,'master')"></i>
                  </td>
                  <td>
                    <i class="fas" [ngClass]="validateVm"></i>
                  </td>
                </tr>
              </table>
            </div>

            <div class="worker-nodes">
              <div class="worker-node-header">
                <h4>Worker Nodes</h4>
              </div>
              <table class="table table-list-header">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Connection</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
              </table>
              <table class="table table-list-body">
                <div formArrayName="workerRows">
                  <tr [ngClass]="worklist[i]['isDisable']"
                    *ngFor="let itemrow of clusterForms.controls.workerRows['controls']; let i=index"
                    [formGroupName]="i" class="master-node">
                    <td>
                      <input #workerName (focusin)="focusInWorker(workerName)" (keypress)="omit_special_char($event)"
                        (keyup)="trimWorkers('wName',$event,i)" (focusout)="onBlur(i,workerName)" type="text"
                        class="form-control" formControlName="wName" id="worker-name_{{i}}"
                        placeholder="Enter worker name">
                      <span class="error"
                        *ngIf="((clusterForms.controls.workerRows['controls'][i].controls['wName'].touched) && clusterForms.controls.workerRows['controls'][i].controls['wName'].errors?.required)">Please
                        enter Worker Name</span>
                    </td>

                    <td>
                      <input type="text" class="form-control" (focusout)="onBlur(i,workerName)" formControlName="wIp"
                        id="worker-ip_{{i}}" placeholder="Enter ip address">
                      <span class="error"
                        *ngIf="((clusterForms.controls.workerRows['controls'][i].controls['wIp'].touched) && clusterForms.controls.workerRows['controls'][i].controls['wIp'].errors?.required)">Please
                        enter Worker IP</span>
                      <span class="error"
                        *ngIf="((clusterForms.controls.workerRows['controls'][i].controls['wIp'].touched) && clusterForms.controls.workerRows['controls'][i].controls['wIp'].errors?.pattern)">Please
                        enter valid Worker IP</span>
                    </td>

                    <td>
                      <input type="text" (focusout)="onBlur(i,workerName)" class="form-control"
                        formControlName="wUsername" id="worker-usename_{{i}}" placeholder="Enter username">
                      <span class="error"
                        *ngIf="((clusterForms.controls.workerRows['controls'][i].controls['wUsername'].touched) && clusterForms.controls.workerRows['controls'][i].controls['wUsername'].errors?.required)">Please
                        enter Username</span>
                    </td>

                    <td>
                      <input [type]="worklist[i]['pwd_type']" class="form-control" formControlName="wPassword"
                        id="mysecretpassword{{i}}" placeholder="Password" (focusout)="onBlur(i,workerName)">
                      <i class="far fa-eye" (click)="togglepwd(i,'worker')"></i>
                      <span class="error"
                        *ngIf="((clusterForms.controls.workerRows['controls'][i].controls['wPassword'].touched) && clusterForms.controls.workerRows['controls'][i].controls['wPassword'].errors?.required)">Please
                        enter Worker Password</span>
                    </td>

                    <td>
                      <i *ngIf="worklist[i].btnDisable" class="fas" [ngClass]="worklist[i]['icon']"
                        [ngClass]=" worklist[i]['isDisable']"></i>

                      <i *ngIf="!worklist[i].btnDisable" (click)="workerFocusOut(i)" class="fas"
                        [ngClass]="worklist[i]['icon']" [ngClass]=" worklist[i]['isDisable']"></i>
                    </td>

                    <td>
                      <i *ngIf="worklist[i].btnDisable" [ngClass]="{
                        'trashdisabled':!(clusterForms.controls.workerRows['controls'].length > 1)}"
                        class="far fa-trash-alt" placement="top" ngbTooltip="Delete"
                        tooltipClass="tooltip-custom-class">
                      </i>

                      <i *ngIf="!worklist[i].btnDisable" (click)="deleteRow(i)" [ngClass]="{
                  'trashdisabled':!(clusterForms.controls.workerRows['controls'].length > 1)}" class="far fa-trash-alt"
                        placement="top" ngbTooltip="Delete" tooltipClass="tooltip-custom-class">
                      </i>
                    </td>

                  </tr>

                </div>
              </table>

              <div class="add-more">
                <button class="btn" (click)="addNewRow()"><i class="fas fa-plus-circle"></i>Add More</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Activity logs</h5>
      <button *ngIf="closeAble" (click)="hideActivityModel()" class="btn">
        <span aria-label="close">x</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="parent-box">
        <div class="below-header">
          <p>Sit back and relax while we are updating the cluster for you. We will run numerous technical processes in
            the
            background which are depicted in the following activity logs, so be sure not to exit the window as it will
            impede the thus far progress made.
          </p>
        </div>
        <div class="logs-box">
          <!-- <div><img src="assets/images/icon-images/check.png" alt="check image"><span>The master node connection has
              been checked.</span></div>
          <div><img src="assets/images/icon-images/check.png" alt="cross image"><span>The worker node(s) connection has
              been checked.</span></div> -->
          <!-- <div *ngFor="let logs of logsmsg; let i=index"><img src="assets/images/icon-images/{{logs.icon}}"
              alt="loading"><span>{{logs.msg}}</span></div> -->
          <div *ngFor="let logs of logsmsg; let i=index">
            <div *ngIf="logs.key != 'array'; else multi">
              <!-- <div #single><img src="assets/images/icon-images/{{logs.icon}}" alt="loading" (click)="logs.success != true ? reHittApi(logs.index,logs.data,logs.logLocation) : ''"><span
                  [innerHTML]="logs.msg"></span></div> -->
              <div #single><img src="assets/images/icon-images/{{logs.icon}}" alt="loading"
                  (click)="logs.success != true ? reHittApi(logs.index,logs.data,logs.logLocation,logs.innerlogsIndex) : '' "><span
                  [innerHTML]="logs.msg"></span></div>
            </div>
            <ng-template #multi>
              <div *ngFor="let log of logs.innerlogs; let i=index"><img src="assets/images/icon-images/{{log.icon}}"
                  alt="loading"
                  (click)="log.success != true ? reHittApi(log.index,log.data,log.logLocation,log.innerlogsIndex) : ''"><span
                  [innerHTML]="log.msg"></span></div>
            </ng-template>
          </div>
        </div>
        <div class="done-icon-box">
          <div *ngIf="checkallapis">
            <p class="install-done">Congratulations, your kubernetes cluster has been successfully updated.</p>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1"
                cy="65.1" r="62.1" />
              <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
            </svg>
          </div>
          <div *ngIf="failApi">
            <p class="install-done">Unable to update kubernetes cluster, Please try again later.</p>
            <svg width='90px' version="1.1" id="cross-svg" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
              enable-background="new 0 0 512 512" xml:space="preserve">
              <circle class="path circle" id="cross_circle" fill="none" stroke="rgb(236, 60, 60)" stroke-width="30"
                stroke-miterlimit="10" cx="256" cy="256" r="225" fill="transparent" stroke-linecap="round"
                stroke-dashoffset="2000" stroke-dasharray="2000" />
              <g>

                <rect class="path rect-x" id="cross_p1" x="239.397" y="67.518" rx="17" ry="17"
                  transform="matrix(0.7071 0.7071 -0.7071 0.7071 255.9995 -106.0389)" fill="rgb(236, 60, 60)" />
              </g>
              <g>

                <rect class="path rect-y" id="cross_p2" x="239.397" y="67.519" rx="17" ry="17"
                  transform="matrix(0.7071 -0.7071 0.7071 0.7071 -106.039 256.0001)" fill="rgb(236, 60, 60)" />
              </g>
            </svg>
          </div>
          <div class="install-progress" *ngIf="!checkallapis && !failApi">
            <p>Cluster updation is in progress...</p>
          </div>


        </div>
      </div>
    </div>
  </ng-template>
</div>