<div class="main-section">
    <div class="inner-section">
        <div class="container-fluid">
            <div class="row">

                <div class="col-12">
                    <div class="header-box">
                        <h4>
                            <img src="assets/images/cluster-icon-black.png" alt="">
                            Registration Key</h4>
                        <!-- <button routerLink="/cluster/create-cluster" routerLinkActive="router-link-active"
                            class="btn btn-primary">Create New Cluster</button> -->
                    </div>
                </div>

                <div class="col-6">
                    <form [formGroup]="apiKeyForm">
                        <div class="basic-info">
                            <div class="form-group">
                                <label for="clientKey">Registration Key :</label>
                                <div>
                                    <input type="text" class="form-control" formControlName="clientKey" id="clientKey"
                                        placeholder="e.g. 7c7dx9163cd94176c2daz2mqq23862tHisLK789yPBnQAUgoS572az==">
                                    <span
                                        *ngIf="((apiKeyForm.controls.clientKey.touched) && (apiKeyForm.controls.clientKey.errors?.required))"
                                        class="error">Please enter Registration key</span>
                                </div>
                            </div>
                            <button type="button" (click)="saveAPIKey()" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="footer">


            </div>
        </div>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h5 class="modal-title" id="modal-basic-title">Activation Logs</h5>
            </div>
            <div class="modal-body">
                <div class="parent-box">
                    <div class="below-header">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor sit amet consectetur</p>
                    </div>
                    <div class="logs-box">
                        <div><img src="assets/images/icon-images/check.png" alt="check image"><span>ipsum dolor sit amet
                                consectetur
                                adipisicing</span></div>
                        <div><img src="assets/images/icon-images/cross.png" alt="cross image"><span>ipsum dolor sit amet
                                consectetur
                                adipisicing</span></div>
                        <div><img src="assets/images/icon-images/loader.gif" alt="loading"><span>ipsum dolor sit amet
                                consectetur
                                adipisicing</span></div>
                        <div><img src="assets/images/icon-images/loader.gif" alt="loading"><span>ipsum dolor sit amet
                                consectetur
                                adipisicing</span></div>
                    </div>
                    <div class="done-icon-box">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                            <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6"
                                stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                            <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                                stroke-linecap="round" stroke-miterlimit="10"
                                points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                        </svg>

                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>