<div class="main-section animated fadeIn">
  <div class="inner-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h4>View Ordering Service</h4>
            <button routerLink="/inner-sidebar/order-service" class="btn">Back to List</button>
            <!-- <button routerLink="/inner-sidebar/order-service" class="btn">Back to List</button> -->
          </div>
        </div>
        <div class="col-12">
          <div class="basic-info">
            <div class="form-group">
              <label for="name">Name :</label>
              <div class="static-text">{{records ? records.name : ''}}</div>
            </div>
            <div class="form-group">
              <label for="type">Type :</label>
              <div class="static-text" *ngIf="records && records.ordererType === 1">Ralt</div>
              <div class="static-text" *ngIf="records && records.ordererType === 0">Solo</div>
            </div>
            <div class="form-group">
              <label for="organisation">Organisation :</label>
              <div class="static-text">{{records ? records.orgId.name : ''}}</div>
            </div>
            <div class="form-group">
              <label for="organisation">Created Date :</label>
              <div class="static-text">{{records ? (records.created_at | date: 'medium' : 'locale' ) : ''}}</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>