<div class="main-section">
  <div class="inner-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h4>View Network</h4>
            <!-- <button class="btn">Update Network</button> -->
          </div>
        </div>
        <div class="col-12">
          <div class="basic-info">
            <div class="form-group">
              <label for="name">Name :</label>
              <div class="static-text">Piyush Garg</div>
            </div>
            <div class="form-group">
              <label for="description">Description :</label>
              <div class="static-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel sunt fugiat
                veritatis temporibus optio consectetur dicta velit perferendis eum praesentium.</div>
            </div>
            <div class="form-group">
              <label for="selectBox">Cluster :</label>
              <div class="static-text">New Cluster</div>
            </div>
            <div class="form-group">
              <label for="status">Status :</label>
              <div class="static-text">Active</div>
            </div>
            <div class="form-group">
              <label for="created-date">Created Date :</label>
              <div class="static-text">2019-10-22</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>