@import "../../../variables";

.main-section {
  height: 100%;

  .inner-section {
    background: $white;
    overflow-y: auto;
    height: 100%;

    .header-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 14px;
      border-bottom: 2px dashed $headingBorder;
      margin-bottom: 20px;
      padding: 14px;

      h4 {
        color: $primary;
        font-weight: 600;
        margin: 0;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          max-width: 32px;
          margin-right: 6px;
          opacity: 0.35;
        }
      }

      .button-box {
        display: flex;
        select {
          min-width: 100px;
          border: 1px solid #c7c7c7;
          background: white;
          border-radius: 4px;
          margin-right: 14px;
          &:active {
            border: none;
          }
        }
        .cancel-button {
          background: #e0e0e0;
          border-color: #929292;
          color: #484848;
        }
      }

      .btn {
        font-weight: 500;
        background: $buttonColor;
        border-color: $buttonColor;
        font-size: 13px;
        padding: 0.375rem 0.5rem;

        &:focus {
          box-shadow: none;
        }

        &:hover {
          background-color: $white;
          color: $buttonColor;
        }
      }
    }

    .table {
      font-size: 14px;
      margin: 0;
      border: 1px solid $headingBorder;

      thead {
        text-align: center;

        tr {
          th {
            padding: 10px 5px;
            letter-spacing: 0.5px;
            border: 0;
            width: 30%;

            &:nth-child(3),
            &:nth-child(4) {
              width: 20%;
            }

            &:nth-child(1) {
              text-align: left;
              // padding-left: 16px;
              padding-left: 20px;
            }
          }
        }
      }

      tbody {
        text-align: center;
        background-color: $white;

        tr {
          td {
            padding: 10px 5px;
            vertical-align: middle;

            &:nth-child(1) {
              display: flex;
              align-items: center;
              text-align: left;
              padding-left: 16px;
              .name-circle {
                display: inline-block;
                background: #d870ad;
                width: 26px;
                height: 26px;
                border-radius: 33px;
                text-align: center;
                color: #fff;
                line-height: 26px;
                margin-right: 10px;
                font-size: 11px;
                text-transform: uppercase;
              }
            }

            &:last-child {
              // i {
              //   margin: 0 8px;
              //   cursor: pointer;
              // }
            }

            .fa-arrow-up {
              color: $green;
            }

            .fa-arrow-down {
              color: red;
            }
          }
        }
      }
    }
  }
}

select.form-control[multiple] {
  height: 34px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .main-section {
    .inner-section {
      .header-box {
        h4 {
          font-size: 18px;
        }

        .btn {
          font-size: 11px;
        }
      }

      .table {
        thead {
          font-size: 12px;
        }

        tbody {
          font-size: 11px;

          tr {
            td {
              &:last-child {
                i {
                  margin: 0 6px;
                }
              }
            }
          }
        }
      }

      .footer {
        .pagination {
          li {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.side-menu-overlay {
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1031;
}
.spinner_dasboard {
  top: 50%;
  position: absolute;
}
